.tituloSeccion__container{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-family: var(--font_primaria);

    .tituloSeccion__titulo{
        font-size: 2rem;
        color: var(--color__texto-principal);
        transition: color var(--transition_color);
    }
}