.inicio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 54px);

    .inicio__foto-container{
        width: 250px;
        height: 250px;
        position: relative;
        
        .inicio__foto-fondo{
            width: 100%;
            height: 90%;
            background-position: center;
            background-repeat: no-repeat;   
            background-size: contain;
            border-radius: 38% 62% 56% 44% / 57% 64% 36% 43%;
            background: #FF0099;
            background-image: linear-gradient(45deg,#22aaa1ff 0%,#0075f2ff 100%);
            
        }



        .inicio__foto{
            position: absolute;
            top: -25px;
            left: 0;
            border-radius: 0% 0% 56% 44% / 31% 31% 36% 43% ;
            overflow: hidden;
            
            .inicio__foto-front{
                width: 100%;
                transform: scale(1.05) ;
                
    
            }
        }

        
    }

    .inicio__nombre{
        font-family: var(--font_primaria);
        font-size: 3em;
        color: var(--color__texto-principal);
        font-weight: 400;
        
    }

    .Typewriter__wrapper, .Typewriter__cursor{
        font-family: var(--font_secundaria);
        color: var(--color__texto-principal);
        font-size: 1.5em;
    }
}