.navSeccion{
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color__texto-principal);
    padding: 1rem 2rem .5rem 1rem;

    // &.screen{
    //     position: relative;
    //     width: 70%;

    //     .navSeccion__lista{
    //         display: flex;
    //         flex-direction: row;
    //         gap: 1rem;
    //     }
    // }
}