.experiencia{
    padding-top: 3rem;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // overflow: hidden;
    .experiencia__container{
        width: 100%;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .experiencia__lista{
            margin: 0;
            padding: 0;
            padding-bottom: 1rem;
            width: 100%;
            height: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5rem;
        }

        .experiencia__seleccionada{
            position: fixed;
            top: 10%;
            left: 5%;
            width: 90%;
            height: 80%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.386);
        }
    }
}