.liExperiencia{
    width: 100px;
    height: 100px;
    // background-image: url('../../../assets/experiencia/pagina_pokemon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}