.list__item{
    position: relative;
    list-style: none;
    cursor: pointer;
    
    .list__item-line{
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 3px;
        background: black;
    
    }
}

