
.lista__skills-container{

    .skills__nombre-container{
        display: flex;
        justify-content: center;

        .skills__nombre{
           color: var(--color__texto-principal);
           font-size: 2.3rem;
           font-family: var(--font_secundaria);
           font-weight: 300;
           transition: color var(--transition_color);

        }
    }

    .lista__skills{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        
        .lista__skills-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            

            .skillIcon{
                width: 100px;
                z-index: 1;
            }

            .item__background{
                position: absolute;
                width: 130px;
                height: 100px;
                left: 50px;
                background-color: grey;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
            }

            .item__nombre-container{
                padding: 0.5rem;
                z-index: 1;

                .item__nombre{
                    color: var(--color__hobbie-selecionado);
                    font-size: 1.5rem;
                    font-family: var(--font_secundaria);
                }
            }
        }
    }


}


