.sobreMi{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color__fondo-sobreMi);
    padding-top: 3rem;
    transition: background-color var(--transition_color);
    
    .sobreMi__texto-container{
        text-align: center;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sobreMi__texto{
            font-size: 1.5rem;
            color: var(--color__texto-secundario);
            transition: color var(--transition_color);
    
        }
    }
}


@media only screen and(min-width: 768px){
    .sobreMi{
        
        .sobreMi__texto-container{
            width: 90%;
            height: 100%;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            .sobreMi__texto{
                font-size: 2.3rem;
            }
        }
    }
}



@media (orientation: landscape) and (max-width: 768px) {

    .sobreMi{
        .sobreMi__texto-container{
            flex-direction: row;
            width: 90%;
            height: 100%;
            align-items: center;
            .sobreMi__texto{
                font-size: 1.2rem;
            }
        }
    }

}

@media only screen and (min-width: 992px){
    .sobreMi{
        .sobreMi__texto-container{
            flex-direction: row;
            width: 90%;
            height: 70%;
            align-items: center;
            .sobreMi__texto{
                width: 70%;
                font-size: 2rem;
                text-align: start;
            }
        }
    }
}