.experiencia__seleccionada{
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90vw;
    height: 80vh;
    z-index: 100;
    background-color: var(--color__secundario-t);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 0;
    transition: background-color var(--transition_color);

    .experiencia__seleccionada-cerrar{
        position: absolute;
        right: 20px;
        top: 8px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.2rem;
        cursor: pointer;
        color: var(--color__primario);
        transition: color var(--transition_color);
    
    }


    .seleccion__container{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        transition: color var(--transition_color);
        
        .seleccion__imagen{
            width: 100%;

            img{
                width: 100%;
                aspect-ratio: 16 / 9;
                border-radius: 20px 20px 20px 0;
                filter: drop-shadow(3px 3px 8px var(--color__primario));
                transition: filter var(--transition_color);
                
            }
        }

        .seleccion__descripcion{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .seleccion__nombre{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color:var(--color__primario);
                transition: color var(--transition_color);
                font-family: var(--font_primaria);
            }

            .seleccion__links{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                margin-bottom: .5rem;
                .seleccion__dir{
                    text-decoration: none;
                    background-color: var(--color__fondo-sobreMi);
                    font-weight: 700;
                    padding: .5rem .7rem;
                    border-radius: 8px;
                    font-size: 1rem;
                    font-family: var(--font_secundaria);
                    transition: background-color var(--transition_color), color var(--transition_color);
                    
                    &:link {
                        color: var(--color__hobbie-selecionado);
                    }

                    &:visited {
                        color: var(--color__hobbie-selecionado);
                    }
                    
                    // &:focus {
                    
                    // }
                    
                    &:hover {
                        transform:scale(1.1);
                        transition: transform .2s;
                    }
                    
                    &:active {
                        color: var(--color__hobbie-selecionado);
                        transform:scale(1);
                    }
                }

            }
            .seleccion__texto{
                font-size: 1.2rem;
                color:var(--color__primario);
                transition: color var(--transition_color);
                font-family: var(--font_secundaria);
            }

            .seleccion__tecno{
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                list-style: none;
                font-size: 1.2rem;
                margin: .5rem 0 0 0;
                color:var(--color__primario);
                transition: color var(--transition_color);
                font-family: var(--font_primaria);
                font-weight: 700;
            }
        }

    }

}

@media (orientation: landscape) {

    .experiencia__seleccionada{

        .seleccion__container{
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .seleccion__imagen{
                width: 50%;
            }

            .seleccion__descripcion{
                width: 40%;
                padding-left: 1rem;
                align-items: flex-start;
                .seleccion__nombre{
                    margin-bottom: .5rem;
                }
                .seleccion__links{

                }
                .seleccion__texto{

                }
    
                .seleccion__tecno{
                    justify-content: flex-start;
                    
                }
            }

        }
    }
}

// @media (orientation: portrait) and (min-width: 768){

//     .experiencia__seleccionada{

//         .seleccion__container{

//             // .seleccion__imagen{
    
//             // }

//             .seleccion__descripcion{

//                 .seleccion__nombre{
//                    font-size: 2.2rem;
//                 }
//                 .seleccion__links{
//                     font-size: 2rem;
//                 }
//                 .seleccion__texto{
//                     font-size: 1.8rem;
//                 }
    
//                 .seleccion__tecno{
//                     font-size: 2rem;
                    
//                 }
//             }

//         }
//     }
// }


@media only screen and (min-width: 996px), (orientation: portrait) and (min-width: 768px) {

    .experiencia__seleccionada{

        .seleccion__container{

            // .seleccion__imagen{
    
            // }

            .seleccion__descripcion{

                .seleccion__nombre{
                   font-size: 2.2rem;
                }
                .seleccion__links{
                    font-size: 2rem;
                }
                .seleccion__texto{
                    font-size: 1.5rem;
                }
    
                .seleccion__tecno{
                    font-size: 2rem;
                    
                }
            }

        }
    }
}