.hobbies__container{
    
    padding-bottom: 2rem;

    .hobbies__titulo{
        font-size: 1.8rem;
        color: var(--color__hobbie-selecionado);
        transition: color var(--transition_color);
    }

    .hobbie__lista-container{

        .hobbies__lista{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        .hobbie__nombre{
            font-size: 1.5rem;
            color: var(--color__hobbie-selecionado);
            transition: color var(--transition_color);
        }
    }


}

@media (orientation: landscape){
    .hobbies__container{
        .hobbies__titulo{
            font-size: 1.4rem;
        }
        .hobbie__lista-container{
        
            .hobbie__nombre{
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and(min-width: 768px){
    .hobbies__container{
        .hobbies__titulo{
            font-size: 3rem;
        }
        .hobbie__lista-container{
        
            .hobbie__nombre{
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and(min-width: 992px){
    .hobbies__container{
        .hobbies__titulo{
            font-size: 2rem;
        }
        .hobbie__lista-container{
        
            .hobbie__nombre{
                font-size: 1.8rem;
            }
        }
    }
}
