.hamburguer{
    width: 35px;
    height: 35px;
    background-color: aqua;
    // position: fixed;
    // left: 5px;
    // top: 5px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;

    .hamburguer__linea{
        width: 60%;
        height: 3px;
        background-color: black;
    }
}