
.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--color__primario);
    transition: background-color var(--transition_color);
    position: relative;

    .titulo{
        color: var(--color__texto-principal);
        padding: 1rem;
        
    }

    .texto{
        color: var(--color__texto-secundario);
        padding: 0 1rem ;
    }

    .Typewriter__wrapper, .Typewriter__cursor{
        color: white;
        font-size: 3em;
    }

    
}