
$color__primario-dark: #393e41ff;
$color__texto1-dark: #ffffff;
$color__texto2-dark: #d3d0cbff;
$color__icon-dark:#ffffff;

$color__primario: #ffffff;
$color__texto1: #393e41ff;
$color__texto2: #d3d0cbff;
$color__icon:#ffbc42;

.theme{
    --color__primario: #{$color__primario};
    --color__texto1: #{$color__texto1};
    --color__texto2: #{$color__texto2};
    --color__icon:#{$color__icon};
    &--dark{
        --color__primario: #{$color__primario-dark};
        --color__texto1: #{$color__texto1-dark};
        --color__texto2: #{$color__texto2-dark};
        --color__icon: #{$color__icon-dark};
        
    }
}



.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--color__primario);
    transition: all var(--transition_color);
    position: relative;

    .titulo{
        color: var(--color__texto1);
        padding: 1rem;
        
    }

    .texto{
        color: var(--color__texto2);
        padding: 0 1rem ;
    }

    
}