/* Coolors Exported Palette - https://coolors.co/393e41-d3d0cb-e7e5df-7c90db-32936f */

/* CSS HEX */
--onyx: #393e41ff;
--timberwolf: #d3d0cbff;
--platinum: #e7e5dfff;
--vista-blue: #7c90dbff;
--sea-green: #32936fff;

/* CSS HSL */
--onyx: hsla(203, 7%, 24%, 1);
--timberwolf: hsla(38, 8%, 81%, 1);
--platinum: hsla(45, 14%, 89%, 1);
--vista-blue: hsla(227, 57%, 67%, 1);
--sea-green: hsla(158, 49%, 39%, 1);

/* SCSS HEX */
$onyx: #393e41ff;
$timberwolf: #d3d0cbff;
$platinum: #e7e5dfff;
$vista-blue: #7c90dbff;
$sea-green: #32936fff;

/* SCSS HSL */
$onyx: hsla(203, 7%, 24%, 1);
$timberwolf: hsla(38, 8%, 81%, 1);
$platinum: hsla(45, 14%, 89%, 1);
$vista-blue: hsla(227, 57%, 67%, 1);
$sea-green: hsla(158, 49%, 39%, 1);

/* SCSS RGB */
$onyx: rgba(57, 62, 65, 1);
$timberwolf: rgba(211, 208, 203, 1);
$platinum: rgba(231, 229, 223, 1);
$vista-blue: rgba(124, 144, 219, 1);
$sea-green: rgba(50, 147, 111, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-right: linear-gradient(90deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-bottom: linear-gradient(180deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-left: linear-gradient(270deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-top-right: linear-gradient(45deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-bottom-right: linear-gradient(135deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-top-left: linear-gradient(225deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-bottom-left: linear-gradient(315deg, #393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);
$gradient-radial: radial-gradient(#393e41ff, #d3d0cbff, #e7e5dfff, #7c90dbff, #32936fff);