// $color__primario-dark: #393e41;
// $color__texto1-dark: #ffffff;
// $color__texto2-dark: #d3d0cbff;
// $color__icon-dark:#ffffff;

// $color__primario: #ffffff;
// $color__texto1: #393e41;
// $color__texto2: #d3d0cbff;
// $color__icon:#ffbc42;


$color1: #22aaa1ff;
$color1b: rgb(7, 129, 120);
$color1c: rgb(139, 237, 230);
$color2: #393e41ff;
$color2-t:rgba(57, 62, 65, 0.893);
$color3: #989992ff;
$color4: #ecf0f1ff;
$color4-t: rgba(236, 240, 241, 0.89);
$color5: rgb(0, 90, 186);
$color5b:rgb(175, 214, 255);
$color6: #d3d0cbff;
$color7: rgba(236, 240, 241, 0.436);



.theme{

    --color__primario: #{$color4};
    --color__texto-principal: #{$color2};
    --color__texto-secundario: #{$color3};
    --color__icon: #{$color2};
    --color__fondo-sobreMi: #{$color4};
    --color__fondo-formacion: #{$color4};
    --color__hobbie : #{$color3};
    --color__hobbie-selecionado :#{$color1b};
    --color__secundario-t: #{$color2-t};


    &--dark{

        --color__primario: #{$color2};
        --color__texto-principal: #{$color4};
        --color__texto-secundario: #{$color6};
        --color__icon:#{$color4};
        --color__fondo-sobreMi: #{$color1b};
        --color__fondo-formacion: #{$color5};
        --color__hobbie : #{$color2};
        --color__hobbie-selecionado :#{$color4};
        --color__secundario-t: #{$color4-t};
    }
}