.liFormacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    .liFormacion__foto-container{
        margin: 0;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: white;
        position: relative;
        border-radius: 50px 0 50px 0;
 
        img{
            max-height: 200px;
            height: 100%;
            padding: 1rem;
        }
    }
    .liFormacion__texto-container{
        width: 100%;
        margin-top: .5rem;
    }
}