.header{
    width: 100vw;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
    padding: .5rem;
    border-bottom:1px solid var(--color__texto-principal);
    z-index: 100;

}



@media only screen and ( min-width:992px ){

    .header{
        justify-content: space-between;
        align-items: center;
    }
}